*{
  font-family: 'Noto Sans TC', sans-serif;
}


a:hover .tag{
  background-color:#999; 
  color: #fff;
}
a .tag:hover {
background-color:#3f4bb6;
border: 1px solid#3f4bb6;
color: #fff;

}
a:hover {
  background-color:rgb(206, 204, 204); 
}


a{
 
  text-decoration: none;
  display: inline-block;
  padding: 16px;
  background-color: rgb(255, 255, 255);
}


.movie-list{
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0% auto;
  }


.movie-item {
  width: calc(20% - 3px) ;
  box-sizing: border-box;
}


.movie-list .pic{

    height: 200px;
    width: 100%;
    background-size:contain;    
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
   
  }

  .movie-list .pic .pic__img{

    /* height: 200px; */
    padding-top: 144%;
    width: 100%;
    background-size:contain;    
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
   
  }

.movie-item .tags{
  display: flex;
  flex-wrap: wrap;
}

.movie-list .tag{
    background-color:#fff;
    color: #999;
    display:block;
    width: 46px;
    box-sizing: border-box; 
    border: 1px solid #999;
    border-radius: 4px;
    padding: 1px 6px;
    margin:8px 3px 32px 0;

}

.movie-list .cName{
  font-size: 16px;
  color: black;
  line-height: 24px
}
.movie-list .eName{
  margin:8px 0px 16px;
  color:blue;
    
  }
.movie-list .date{
  color: #999;
    
}

h1{
text-align:left;
color:rgb(17, 0, 255);
font-size: 31.51px;
line-height: 1.2em;
margin: 30px 0;
font-weight: 400;
}

.paging{
  /* background-color: rgb(222, 222, 222);
  text-indent:32px;
  width: 100%;
  height: 16px;
  display: inline; */
  pointer-events: none;
}

